doctype html
html
    head
        title confirm sing up
    body
        center
            h1 WELCOME!!
            h3 you can confirm sing up here!!
            a(href='https://api-co-work.herokuapp.com/verify/#{id}') click for confirm your sing up.
            p. ---------------------